<div class="main col-10">
  <h1>Accédez à votre compte Helpnet</h1>
  <p>Si vous en êtes là, félicitations ! Vous avez bien progressé, l'équipe HelpNet est fière de vous.</p>

  <div class="main-card">
    <h2>Connexion</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs form-se">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "Ecrivez votre adresse mail" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "Ecrivez votre mot de passe" } %>
      </div>

      <div class="fr-btn fr-btn--secondary">
        <%= f.button :submit, "Se connecter" %>
      </div>
    <% end %>
    <br>
    </br>
    <%= render "devise/shared/links" %>

  </div>
</div>

<%= render "shared/footer" %>
