<div class="main col-10 text-center">
    <h1 class="mb-2">Accédez à votre compte Helpnet</h1>
    <p class="mb-5">Si vous en êtes là, félicitations ! Vous avez bien progressé, l'équipe HelpNet est fière de vous.</p>
  <div class="login mt-5">
    <div class="">
      <%= image_tag "login.png", width: "500",  alt:"image débutant" %>
    </div>
    <div class="login-card">
      <h2>Connexion</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <div class="form-inputs form-se">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "Ecrivez votre adresse mail" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "Ecrivez votre mot de passe" } %>
        </div>

        <div class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line">
          <%= f.button :submit, "Connexion" %>
        </div>
      <% end %>
    <!-- <%= render "devise/shared/links" %>-->

    </div>
  </div>
</div>
<%= render "shared/footer" %>
