<div class="row">
  <div class="card-problem">
    <div class="pbcard">
     <!-- <%= link_to new_issue_path do %> -->
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Je n’arrive pas à me connecter</h5>
            <h6>Anomalies techniques liés à l'utilisation de votre ordinateur</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-account-circle-fill" aria-hidden="true"></span>
        </div>
      </div>
     <!-- <% end %> -->
    </div>
    <div class="pbcard">
     <!-- <%= link_to new_issue_path do %> -->
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Impossible d'envoyer un e-mail</h5>
            <h6>Problèmes lors de votre navigation sur le web</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-wifi-fill" aria-hidden="true"></span>
        </div>
      </div>
     <!-- <% end %> -->
    </div>
    <div class="pbcard">
      <!-- <%= link_to new_issue_path do %> -->
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Je ne reçois plus mes e-mails</h5>
            <h6>Dysfonctionnements et erreurs avec votre boîte mail</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-chat-delete-fill" aria-hidden="true"></span>
        </div>
      </div>
      <!-- <% end %> -->
    </div>
    <div class="pbcard">
      <%= link_to new_issue_path do %>
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Problème avec ma pièce jointe</h5>
            <h6>Dysfonctionnements et erreurs avec votre boîte mail</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-attachment-fill" aria-hidden="true"></span>
        </div>
      </div>
      <% end %>
    </div>
    <div class="pbcard">
      <!-- <%= link_to new_issue_path do %> -->
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Je reçois beaucoup de SPAMS</h5>
            <h6>Dysfonctionnements et erreurs avec votre boîte mail</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-error-fill" aria-hidden="true"></span>
        </div>
      </div>
      <!-- <% end %> -->
    </div>
    <div class="pbcard">
      <!-- <%= link_to new_issue_path do %> -->
      <div class="fr-tile fr-enlarge-link fr-tile--horizontal-md">
        <div class="fr-tile__body">
            <h5>Je n’arrive pas à supprimer un e-mail</h5>
            <h6>Dysfonctionnements et erreurs avec votre boîte mail</h6>
        </div>
        <div class="fr-tile__img">
            <span class="icn fr-icon-delete-fill" aria-hidden="true"></span>
        </div>
      </div>
     <!-- <% end %> -->
    </div>
  </div>
</div>
