<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <title>HelpNet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->

    <!-- obligé de charger le css du gouvernement car que des problèmes -->
    <link href="https://www.systeme-de-design.gouv.fr/_nuxt/css/c868e86.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.3/plyr.css" />
    <script src="https://cdn.plyr.io/3.7.3/plyr.polyfilled.js"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

  <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
